.col-md-8.col-md-offset-2.center-text
  .body
    %span
      -if user_signed_in?
        -if has_name?(current_user)
          ="current user: #{current_user.name}"
        -else
          ="current user email: #{current_user.email}"
   
      =render 'layouts/header'
    %h1.text-center
      %strong
        Ægir
    %table.table
      %tr
        %td.col-md-3=link_to('Manage Tanks', manage_url)
        %td.col-md-3.text-left=link_to('About', about_url)
        %td.col-md-3.text-right=link_to('Users', stats_url)
        -if user_signed_in?
          %td.col-md-3.text-right=link_to('Logout', destroy_user_session_path, method: :delete)
        -else
          %td.col-md-3.text-right=link_to('Login', new_user_session_path)

    %br
    -if @tanks.any?
      %h4.text-center Active Tanks
      -@tanks.each do |tank|
        %br
        %span
          %h3
            =tank.name
            =link_to(tank) do
              %span.glyphicon.glyphicon-info-sign

        %table.table
          %tr
            %td
              =button_to(water_change_tank_url(id: tank.id), class: 'btn btn-primary') do 
                water change
                %span.glyphicon.glyphicon-tint

            -last = tank.last_water_change
            -if not_nil?(last)
              -if water_change_due?(last)
                %td{style: 'color: #D8D8D8'}="water change due! (last water change #{distance_of_time_in_words(last, Time.now)} ago)"
              -else
                %td{style: 'color: #D8D8D8; text-shadow: 1px 1px #000;'}="next water change due in #{next_water_change_date(last)} (last done #{date_stripper(last.localtime)})"
            -else
              %td{style: 'color: #D8D8D8; text-shadow: 1px 1px #000;'} this tank has not yet had a water change
          %tr
            %td
              =button_to(skimmer_clean_tank_url(id: tank.id), class: 'btn btn-primary') do
                skimmer clean
                %span.glyphicon.glyphicon-certificate

              - last = tank.last_skimmer_clean
              -if not_nil?(last)
                -if skimmer_clean_due?(last)
                  %td{style: 'color: #D8D8D8; text-shadow: 1px 1px #000;'}="skimmer clean due! (last clean #{distance_of_time_in_words(last, Time.now)} ago)"
                -else
                  %td{style: 'color: #D8D8D8; text-shadow: 1px 1px #000;'}="next skimmer clean due in #{next_skimmer_clean_date(last)} (last done #{date_stripper(last.localtime)})"
              -else
                %td{style: 'color: #D8D8D8; text-shadow: 1px 1px #000;'} this tank has not yet had a protein skimmer clean  
    -else
      %h2.main-header No active Tanks currently

