.col-md-8.col-md-offset-2
  %br
  %h2
    =@tank.name
    %small{style: 'color: #FFF; font-size: medium; font-style: italic;'}
      ="added on #{date_stripper(@tank.created_at.localtime)}"
  %table.table
    %tr
      %td
        %strong
          ="Volume:"
      %td{style: 'color: #D8D8D8; text-shadow: 1px 1px #000; font-size: large;'}=@tank.volume
    %tr
      %td
        %strong
          ="number of fish:"
      %td{style: 'color: #D8D8D8; text-shadow: 1px 1px #000; font-size: large;'}=@tank.fish_number
    %tr
      %td
        %strong
          ="last water change:"
      -last = @tank.last_water_change
      -if not_nil?(last)
        %td{style: 'color: #D8D8D8; text-shadow: 1px 1px #000;'}="done by #{@tank.last_water_change_user} #{distance_of_time_in_words(last, Time.now)} ago - (#{date_stripper(last.localtime)})"
      -else
        %td{style: 'color: #D8D8D8; text-shadow: 1px 1px #000;'} this tank has not yet had a water change
    %tr
    -last_s = @tank.last_skimmer_clean
    -if not_nil?(last_s)  
      %td
        %strong
          ="last skimmer clean:"
          %td{style: 'color: #D8D8D8; text-shadow: 1px 1px #000;'}=" done by #{@tank.last_skimmer_clean_user} #{distance_of_time_in_words(last_s, Time.now)} ago - (#{date_stripper(last_s.localtime)})"
    -else
      %td
        %strong
          ="last skimmer clean:"
      %td{style: 'color: #D8D8D8; text-shadow: 1px 1px #000;'} this tank has not yet had a protein skimmer clean  
  %br
  =link_to(root_url, class: 'btn btn-primary') do
    home
    %span.glyphicon.glyphicon-home