.col-md-8.col-md-offset-2
	%h2.text-center
		%strong
			Users
	%h5.text-center{style: 'color: #FFF;'}="#{top_user(@users)}"
	%br
	-@users.each do |user|
		%br
		%table.table
			%h4="#{user.name} (#{user.email})"
			%tr
				%td
					%strong
						Signed up:
				%td{style: 'color: #FFF;'}= user.created_at.localtime
			%tr
				%td
					%strong
						Total water changes:
				%td{style: 'color: #FFF;'}=" #{user.water_changes}"
			%tr
				%td
					%strong
						Total skimmer cleans:
				%td{style: 'color: #FFF;'}=" #{user.skimmer_cleans}"



	%br
	.text-center
		=link_to(root_url, class: 'btn btn-primary') do
			home
			%span.glyphicon.glyphicon-home